<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{% block title %}Forty420{% endblock %}</title>
	<link rel="stylesheet" href="/client/css/style.css">
	{% block head %}
	{% endblock %}
</head>
<body>
	<header>
		{% block header %}
		<a href="/"><img class="logo" src="/client/img/42_logo.png" alt="Forty420"></a>
		{% endblock %}
	</header>

	<main>
		{% block content %}
		{% endblock %}
	</main>

	<footer>
		{% block footer %}
		<p>&copy; 2022 Forty420. All rights reserved. | v{{ env.VERSION }}</p>
		{% endblock %}
	</footer>

	<script src="/client/js/script.js"></script>
</body>
</html>
